<!---
    # Team Toast
# Owen Yaggy, Haotian Gan, Justin Morrill (Duckies: Rio, Gregory, Cinnamon)
# SoftDev
# K13
# 10-14-2021
    </--->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <form action="/auth" method="post">
      <input type="text" name="username" />
      <input type="submit" name="sub1" />
    </form>
  </body>
</html>
